<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.bayu.mainan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Mainanku"
        android:roundIcon="@mipmap/mainan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="id.bayu.mainan.activity.report.ReportActivity"></activity>
        <activity android:name="id.bayu.mainan.activity.penjualan.PenjualanBarang" />
        <activity android:name="id.bayu.mainan.activity.data_barang.DataBarangActivity" />
        <activity android:name="id.bayu.mainan.activity.register.RegisterActivity" />
        <activity android:name="id.bayu.mainan.activity.data_barang._add.AddBarangActivity" />
        <activity android:name="id.bayu.mainan.activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="id.bayu.mainan.activity._main.MainActivity" />
    </application>

</manifest>